label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 15px;
}

label>input {
    text-align: center;
    width: 300px;
    margin-top: 2px;
    background-color: rgba(231, 214, 235, 0.2);
}